<!DOCTYPE html>
<html>
<head>
  <title>Project</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="scout_header">
  <% if current_user %>
    Logged in as <%= current_scout.email %>
    <%= link_to "Log Out", logout_path %>
  <% else %>
    <%= link_to "Scout Signup", ssignup_path %> or
    <%= link_to "Advisor Signup", asignup_path %> or
    <%= link_to "Log In", login_path %>
  <% end %>
</div>

<% flash.each do |key, value| %>
  <%= content_tag(:div, class: "alert alert-#{key}") do %>
    <p><%= value %></p>
  <% end %>
<% end %>

<%= yield %>

</body>
</html>
